@model IEnumerable<OfficeEmployeeVisitorTrackingSysytem.Models.Company>

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>My Company</h2></center>


@{
    var c = 0;
}
<div>

    @foreach (var item in Model)
    {

        <a href="/Visitors/Employee/@item.Id" ><span style="margin-left:5px;margin-right:10px;margin-top:5px;margin-bottom:5px; font-size:50px;">   @item.Name </span></a>

        {
            c++;
        }

        if (c % 3 == 0)
        {
            <br>
            c = 0;
        }


    }

</div>
