
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Home</h2>

<a href="/Companies/Index" class="btn btn-danger">Register Company</a>  <a href="/Employees/Index" class="btn btn-primary">Employee Company</a>
